h1{
    color:blue;
    font-size:150%;
}
form, form input{
    padding:10px;
}
form input{
    margin:10px;
}
#ta{
    padding:5px;
    margin-left:8px;
}
#sect-1{
    display: inline-block;
    width:400px;
}
#sect-2{
    display:inline-block;
    width:400px;
    height:255px;
}

.front{
    background-color:gray;
    padding:10px;
}
.back{
    background-color:red;
    padding:10px;
    margin:10px;
}